
.app-header {
    background: #d92727;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.app-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #e1d3d3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.controls1 {
    margin-left: 20%;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    height: 70%;
    width: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.transparent-background {
    flex: 1;
    background-color: rgba(250, 247, 247, 0.98);
    display: flex;
    justify-content: center;
}

#nav-bar-left {
    width: 320px;
    padding: 20px;
    margin-top: 27px;

}

.friend-list-message {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.friend-list-message:hover {
    background-color: #e9e9e9;
}

.flm-1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.img-toUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.flm-time {
    font-size: 12px;
    color: #888888;
    width : 100px
}

.flm-2 {
    flex: 1;
}

.p-user-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 10px

}
.p-name {
    font-weight: bold;
    font-size: 12px;
    margin-right: 4px;
    color: #888888;

}


.p-content {
    max-width: 100px; /* Điều chỉnh giá trị pixel theo nhu cầu của bạn */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        color: #888888;
        font-size: 12px;
    margin-right: 10px;
}

#div-right {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;

    /*align-items: flex-start; !* Căn giữa theo chiều ngang bên trái *!*/
}

#list-message-container {
    width: 100%;
    height: 550px;
    border: 1px solid #fce8e8;
    border-radius: 10px;
    overflow-y: scroll;
}

.content-message-you,
.content-message-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-message-you{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.message-content-you,
.message-content-me {
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}

.message-content-you {
    background-color: #e9e9e9;
    margin-right: auto;
}

.message-content-me {
    background-color: #2979ff;
    color: #ffffff;
    margin-left: auto;
}

.message-input-container {
    font-size: 12px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

#send-message-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-right: 10px;
}

#send-message-button {
    padding: 10px 20px;
    background-color: #e70b21;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
}

.p-content-time {
    display: flex;
    justify-content: space-between;
}






